@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.border {
  border: 1px solid;
  border-color: #BEC1BB;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.contact-section {
  flex-basis: 300px;
  height: 100%;
  min-width: 250px;
}

.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
}

.user-status {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  width: 70%;
}

.user-img img {
  width: 43px;
  border-radius: 50%;
}

.user-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-text p {
  font-size: small;
  color: #828485;
}

.user .icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  width: 30%;
  color: #828485;
  font-size: 20px;
}

.icons i:hover {
  color: #1B1F21;
}

.new-chat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8.5rem;
}

.new-chat-button button {
  border: none;
  width: 200px;
  height: 53px;
  cursor: pointer;
  background-color: #A491D2;
  color: #fff;
  font-size: medium;
}

.new-chat-button button:hover {
  background-color: #CDC3E6;
  transition: background-color 0.2s ease;
}

.new-chat-button button:focus {
  background-color: #BEC1BB;
}